<div class="doctors-page">

  <h1>پزشکان</h1>

  <div class="filters">

    <input
      type="text"
      [(ngModel)]="search"
      placeholder="نام پزشک"
    />

    <input
      type="text"
      [(ngModel)]="city"
      placeholder="شهر"
    />

    <button (click)="searchDoctors()">
      جستجو
    </button>

    <button (click)="clearFilters()">
      پاک کردن
    </button>

  </div>

  <p *ngIf="loading">
    در حال دریافت اطلاعات...
  </p>

  <div class="doctor-grid">

    <div
      class="doctor-card"
      *ngFor="let doctor of doctors"
    >

      <div class="doctor-image">
        <img
          *ngIf="doctor.image"
          [src]="doctor.image"
          [alt]="doctor.first_name + ' ' + doctor.last_name"
        />

        <div *ngIf="!doctor.image">
          👨‍⚕️
        </div>
      </div>

      <h2>
        دکتر {{ doctor.first_name }} {{ doctor.last_name }}
      </h2>

      <p>
        تخصص: {{ doctor.specialty_name }}
      </p>

      <p>
        شهر: {{ doctor.city }}
      </p>

      <p>
        سابقه: {{ doctor.experience }} سال
      </p>

      <p>
        ⭐ {{ doctor.rating }}
      </p>

      <button
        type="button"
        (click)="openBooking(doctor)"
      >
        دریافت نوبت
      </button>
    </div>

  </div>

  <p *ngIf="!loading && doctors.length === 0">
    پزشکی پیدا نشد.
  </p>
  @if(bookingDoctor){

  <div
    class="booking-overlay"
    (click)="closeBooking()"
  >

    <div
      class="booking-dialog"
      (click)="$event.stopPropagation()"
    >

      <div class="booking-header">

        <div>

          <h2>
            دریافت نوبت
          </h2>

          <p>
            دکتر {{bookingDoctor.first_name}}
            {{bookingDoctor.last_name}}
          </p>

        </div>

        <button
          type="button"
          class="booking-close"
          (click)="closeBooking()"
        >
          ×
        </button>

      </div>


      <div class="booking-body">

        <label>
          تاریخ نوبت
        </label>

        <input
          type="date"
          [(ngModel)]="selectedDate"
          [min]="getMinDate()"
          (change)="onDateChange()"
        >


        @if(selectedDate){

          <label>
            ساعت نوبت
          </label>

          @if(availableTimes.length){

            <div class="time-grid">

              @for(
                time of availableTimes;
                track time
              ){

                <button
                  type="button"
                  class="time-button"
                  [class.selected]="selectedTime === time"
                  (click)="selectedTime = time"
                >
                  {{time}}
                </button>

              }

            </div>

          }
          @else{

            <p class="no-times">
              پزشک در این روز برنامه کاری ندارد.
            </p>

          }

        }


        @if(bookingError){

          <div class="booking-error">
            {{bookingError}}
          </div>

        }


        @if(bookingSuccess){

          <div class="booking-success">
            {{bookingSuccess}}
          </div>

        }

      </div>


      <div class="booking-footer">

        <button
          type="button"
          class="booking-cancel"
          (click)="closeBooking()"
        >
          بستن
        </button>

        <button
          type="button"
          class="booking-submit"
          [disabled]="
            bookingLoading ||
            !selectedDate ||
            !selectedTime ||
            !patientId
          "
          (click)="bookAppointment()"
        >

          @if(bookingLoading){

            در حال ثبت...

          }
          @else{

            ثبت نوبت

          }

        </button>

      </div>

    </div>

  </div>

}
</div>