<aside

class="sidebar"

[class.open]="open"

>



<header class="sidebar-header">


<div class="doctor-avatar">

د

</div>



<div class="doctor-info">


<strong>
دکتر
</strong>


<span>
پنل مدیریت پزشک
</span>


</div>


</header>







<nav>


<a

*ngFor="let item of menuItems"

[routerLink]="item.link"

routerLinkActive="active"

(click)="onNavigate()"

>


<span class="icon">

{{item.icon}}

</span>



<span class="title">

{{item.title}}

</span>



</a>


</nav>








<footer class="sidebar-footer">


<button>


🚪

خروج


</button>


</footer>





</aside>