<div class="patient-profile-page">


  @if(errorMessage){

    <div class="error-box">

      {{errorMessage}}

    </div>

  }


  @if(patient){


    <section class="profile-container">


      <app-patient-header

        [patient]="patient"

        (back)="backToSearch()"

      />




      <section class="tabs-wrapper">


        <app-patient-tabs

          [patient]="patient"

          [patientId]="patient.id"

          [treatments]="treatments"

          [loading]="loadingTreatments"

          [saving]="savingTreatment"

          [selectedTreatment]="selectedTreatment"


          (create)="openCreateForm()"

          (view)="viewTreatment($event)"

          (edit)="editTreatment($event)"

          (delete)="deleteTreatment($event)"

          (save)="saveTreatment($event)"

          (cancel)="closeForm()"

        />


      </section>


    </section>


  }


</div>