<section class="form-card">


<header class="form-header">


<div class="form-icon">

+

</div>



<div>


<h2>

{{ treatment ? 'ویرایش درمان' : 'ثبت درمان جدید' }}

</h2>



<p>

اطلاعات طرح درمان بیمار را وارد کنید

</p>



</div>


</header>







<form

[formGroup]="form"

(ngSubmit)="submit()"

>



<div class="form-grid">





<div class="field full">


<label>

عنوان درمان *

</label>



<input

type="text"

formControlName="title"

placeholder="مثلاً جرم‌گیری، عصب‌کشی، ارتودنسی"

>





@if(isInvalid('title')){


<span class="error">

عنوان درمان الزامی است

</span>


}



</div>









<div class="field">


<label>

تشخیص

</label>



<input

type="text"

formControlName="diagnosis"

placeholder="تشخیص بیمار"

>


</div>








<div class="field">


<label>

دندان مرتبط 🦷

</label>



<select

formControlName="toothNumber"

>


<option [ngValue]="null">
  بدون انتخاب دندان
</option>


@for(tooth of teeth; track tooth){


<option [ngValue]="tooth">
    دندان {{ tooth }}
  </option>



}



</select>



</div>










<div class="field">


<label>

وضعیت درمان

</label>



<select

formControlName="status"

>



<option

[value]="TreatmentStatus.InProgress"

>

در حال انجام

</option>



<option

[value]="TreatmentStatus.Completed"

>

تکمیل شده

</option>



<option

[value]="TreatmentStatus.Incomplete"

>

نیاز به بررسی

</option>



<option

[value]="TreatmentStatus.Cancelled"

>

لغو شده

</option>



</select>



</div>










<div class="field">


<label>

تاریخ شروع *

</label>



<input
  type="date"
  formControlName="startDate"
>



</div>









<div class="field">


<label>

تاریخ پایان

</label>



<input
  type="date"
  formControlName="endDate"
>


</div>









<div class="field full">


<label>

توضیحات

</label>



<textarea

rows="5"

formControlName="description"

placeholder="شرح اقدامات درمانی، داروها و توضیحات مهم..."

></textarea>



</div>






</div>









<div class="form-actions">





<button

type="button"

class="cancel-btn"

(click)="onCancel()"

[disabled]="saving"

>

انصراف

</button>







<button

type="submit"

class="submit-btn"

[disabled]="saving"

>



@if(saving){

در حال ذخیره...

}

@else{


{{ treatment ? 'ذخیره تغییرات' : 'ثبت درمان' }}


}



</button>






</div>







</form>



</section>