<section class="statistics">


  <div class="stat-card">

    <div class="stat-icon total">
      #
    </div>

    <div>

      <span>
        کل طرح‌های درمان
      </span>

      <strong>
        {{ totalCount }}
      </strong>

    </div>

  </div>



  <div class="stat-card">

    <div class="stat-icon completed">
      ✓
    </div>

    <div>

      <span>
        تکمیل شده
      </span>

      <strong>
        {{ completedCount }}
      </strong>

    </div>

  </div>




  <div class="stat-card">

    <div class="stat-icon progress">
      ◷
    </div>

    <div>

      <span>
        در حال انجام
      </span>

      <strong>
        {{ inProgressCount }}
      </strong>

    </div>

  </div>




  <div class="stat-card">

    <div class="stat-icon incomplete">
      !
    </div>

    <div>

      <span>
        ناقص
      </span>

      <strong>
        {{ incompleteCount }}
      </strong>

    </div>

  </div>




  <div class="stat-card">

    <div class="stat-icon cancelled">
      ×
    </div>

    <div>

      <span>
        لغو شده
      </span>

      <strong>
        {{ cancelledCount }}
      </strong>

    </div>

  </div>



</section>