:host{

display:block;

direction:rtl;

}



.patient-tabs{

margin-top:25px;

}



/* تب ها */

.tabs-header{

display:flex;

gap:10px;

background:white;

padding:8px;

border-radius:18px;

border:1px solid #e5e7eb;

margin-bottom:20px;

}



.tabs-header button{


border:none;

background:transparent;

padding:14px 25px;

border-radius:14px;

font-family:inherit;

font-size:15px;

font-weight:700;

color:#64748b;

cursor:pointer;

position:relative;

transition:.25s;

}



.tabs-header button:hover{

color:#0f9d8a;

}



.tabs-header button.active{

color:#0f9d8a;

background:#e8f7f3;

}





.tab-content{

background:white;

border-radius:20px;

border:1px solid #e5e7eb;

padding:25px;

}





@media(max-width:700px){


.tabs-header{

overflow-x:auto;

}



.tabs-header button{

white-space:nowrap;

padding:12px 18px;

}



.tab-content{

padding:15px;

}


}