<section class="patient-tabs">

  <div class="tabs-header">

    <button
      type="button"
      [class.active]="activeTab === 'info'"
      (click)="selectTab('info')"
    >
      اطلاعات بیمار
    </button>

    <button
      type="button"
      [class.active]="activeTab === 'treatment'"
      (click)="selectTab('treatment')"
    >
      طرح درمان
    </button>

    <button
      type="button"
      [class.active]="activeTab === 'dental'"
      (click)="selectTab('dental')"
    >
      وضعیت دندان‌ها
    </button>

  </div>


  <div class="tab-content">

    @if(activeTab === 'info') {

      <app-patient-info
        [patient]="patient"
      />

    }


    @if(activeTab === 'treatment') {

      <app-treatment-manager
        [patientId]="patientId"
        [treatments]="treatments"
        [loading]="loading"
        [saving]="saving"
        [selectedTreatment]="selectedTreatment"

        (create)="onCreate()"
        (view)="onView($event)"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
        (save)="onSave($event)"
        (cancel)="onCancel()"
      />

    }


    @if(activeTab === 'dental') {

     <app-dental-chart

        [patientId]="patientId"

      

/>
    }

  </div>

</section>